<div class="section title">
  <img alt="logo" src="assets/img/pokemon-logo.png" />
  <h2>Generation 1</h2>
  <h3>{{ pokemonNumber }} pokemons</h3>
  <input placeholder="Search" [(ngModel)]="re.pattern" />
</div>
<div class="section table">
  <div>
    <ng-container *ngIf="generation$ | async as generation">
      <ng-container [ngSwitch]="generation.status">
        <div *ngSwitchCase="'loading'">Loading...</div>

        <div class="warning" *ngSwitchCase="'error'">
          {{ generation.error.message }}
        </div>

        <ng-container *ngSwitchDefault>
          <div
            *ngFor="let pokemon of generation.data.filter(re.test)"
            [routerLink]="'/pokemon/' + pokemon.name"
          >
            <div>
              <img
                [alt]="pokemon.name"
                [src]="
                  'https://img.pokemondb.net/sprites/black-white/anim/normal/' +
                  pokemon.name +
                  '.gif'
                "
              />
            </div>
            <h2>{{ pokemon.name }}</h2>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
