@mixin reset {
  display: block;
  margin: 0;
  padding: 0;
}

@mixin full-screen {
  width: 100%;
  height: 100vh;
}

$themes: (
  "default": (
    "color": #4c4847,
    "bg": #f3f0f1,
  ),
  "ligth": (
    "color": #4c4847,
    "bg": #f3f0f1,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
